{% include ('nav.html') %}

{% block content %}
    <div class="container">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
      <div class="row ">
          <div class="col-lg-12">
             <div class="card">
                 <div class="card-body">
                     This website is currently in developpement
                        <br>
                     You want some information about glyths ? go check <a href="https://docs.google.com/spreadsheets/d/1Q_kMVjhlb1t0A3xKswkPjhn2a4G-moZup1It4kEORxc">here</a>

                 </div>
             </div>
      </div>
    </div>
{% endblock %}